[Unit]
Description=GOBLINCAKES: set up snap (home folders in /var/home)
Wants=network-online.target snapd.socket
After=network-online.target snapd.socket snapd.seeded.service
ConditionPathExists=!/var/lib/goblincakes/snapd-setup-done

[Service]
Type=oneshot
ExecStart=/usr/libexec/goblincakes-snapd-setup
# Waits for snapd's first start (seeding)
TimeoutStartSec=30min

[Install]
WantedBy=multi-user.target
