[Desktop Entry]
Type=Application
Name=Avinstallera program
Comment=Avinstallera Fedora-program ur GOBLINCAKES, eller få tillbaka dem
Exec=/usr/libexec/goblincakes-remove-apps
Icon=goblincakes
Categories=System;Settings;
Keywords=avinstallera;ta bort;radera;uninstall;remove;program;appar;återställ;
