[Desktop Entry]
Type=Application
Name=GOBLINCAKES Config
GenericName=Installera program
Comment=Program, spelinställningar och grafikdrivrutiner för GOBLINCAKES (Meta+C)
Exec=goblincakes-config
Icon=goblincakes
Categories=System;Settings;
Keywords=install;apps;program;installera;setup;ianseo;
