[Desktop Entry]
Type=Application
Name=GOBLINCAKES Config
GenericName=Installera program
Comment=Välj och installera program till GOBLINCAKES
Exec=goblincakes-config
Icon=goblincakes
Categories=System;Settings;
Keywords=install;apps;program;installera;setup;ianseo;
