[Desktop Entry]
Name=GOBLINCAKES
Comment=Flat, square window frames from the GOBLINCAKES design
X-KDE-PluginInfo-Name=goblincakes
X-KDE-PluginInfo-Author=Kaytho
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL-2.0-or-later
